body{
    font-family: 'Poppins', sans-serif;
    background-color:#5CDB95;
    color: #edf5e1;
    text-align: center;
}
.image-cropped{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}
.profile-pic{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width:auto;
}
#coral{
    background-color: #FF7F50;
    width: 100px;
    height: 55px;
    color: #E2E0DC;
}