body {
    font-family: 'Poppins', sans-serif;
    background-color: #5CDB95;
    color: #edf5e1;
    text-align: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5CDB95;
    color: #05386B;
    padding: 0px 20px;
  }
  
  .logo {
    height: 150px;
  }
  .linkedin-logo path,
.github-logo path {
  height: 30px;
  fill: #05386B;
}  
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
  line-height: 40px;
  position: relative;
}

nav ul li a img {
  height: 40px;
  vertical-align: middle;
}

nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 0;
  height: 2px;
  background-color: #EDF5E1;
  transition: all 0.5s ease-out;
  transform-origin: left;
}

nav ul li a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #EDF5E1;
  transition: all 0.5s ease-out;
  transform-origin: right;
}

nav ul li:hover a::before {
  transform: scaleX(1);
  width: 100%;
}

nav ul li:hover a::after {
  transform: scaleX(1);
  width: 100%;
}
  .emphasis {
    font-weight: normal;
  }
  
  h3 {
    font-weight: lighter;
    margin-bottom: 50px;
  }
  
  .portrait-round {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        display: block; /* add this property */
        margin: 30px auto 60px; /* add this property */
      }
      
footer{
    font-weight: lighter;
}