* {
    font-family: 'VT323', monospace;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: black;
    color: grey
}

.container {
    text-align: center;
  }
 
 .container pre {
   display: inline-block;
   text-align: center;
  }