* {
    font-family: 'VT323', monospace;
}
body {
    background: black;
    color: grey
}

.container {
    text-align: center;
  }
 
 .container pre {
   display: inline-block;
   text-align: center;
  }